@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@font-face {
  font-family: "Good Times";
  src: url("/public/good timing bd.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Good Timing";
  src: url("/public/good timing bd.otf");
  font-weight: 700;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --paragraph-bold-body-16: Roboto;
  --heading-bold-h1-72: "Open Sans";
  --heading-reguler-h6-16: "Good Timing";
  --font-noto-sans-jp: "Noto Sans JP";
  --heading-reguler-h5-24: "Good Times";

  /* font sizes */
  --paragraph-bold-body-16-size: 20px;
  --paragraph-reguler-body-16-size: 16px;
  --heading-bold-h1-72-size: 72px;
  --heading-bold-h5-24-size: 24px;
  --paragraph-bold-caption-14-size: 14px;
  --heading-bold-h3-48-size: 48px;

  /* Colors */
  --text-color-navy: #0a0b56;
  --text-color-white: #fff;
  --text-color-in-field: #ccc;
  --other-background: rgba(6, 19, 45, 0.25);
  --bright-blue: #41bafe;
  --color: rgba(65, 186, 254, 0.2);
  --text-color-disable: #e6e6e6;
  --primary-70: rgba(163, 68, 255, 0.7);
  --primary-50: rgba(163, 68, 255, 0.5);
  --primary-10: rgba(235, 243, 255, 0.25);
  --color-black: #000;

  /* Paddings */
  --padding-xs: 12px;
  --padding-13xl: 32px;
  --padding-base: 16px;
  --padding-21xl: 40px;
  --padding-5xs: 8px;

  /* border radiuses */
  --br-5xs: 8px;
  --br-base: 16px;
  --br-6xs: 7px;
}
